# Core dependencies
numpy
scipy>=1.9.1
matplotlib>=2.2.5
pandas>=1.4.4
xarray
netCDF4
SALib

# Jupyter & development tools
importlib_metadata
ipython
jupyter
jupytext
notebook
#nb_black

# Git-based dependency
daesim @ git+https://github.com/NortonAlex/DAESIM@3903f69fca5c3ce5880d4703d0ca17412d7d7606#egg=daesim

